/** ################################################
  *                     BODY CONTENTS
  * ################################################ */

#feed-images-container {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.feed-post-container {
  background-color: var(--secondary);
  color: white;
  border: 2px solid var(--gray-border);
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 50%;
  margin-top: 2%;
  padding-top: 5%;
  justify-content: space-between;
}

.feed-post-head {
  display: flex;
  flex-direction: row;
  height: 2%;
  justify-content: space-around;
  align-items: flex-end;
  color: black;
}

.feed-post-head-owner-name {
  display: flex;
  flex-direction: row;
  text-decoration: none;
  color: black;
}

.feed-post-head-owner-name:hover {
  opacity: 60%;
}

.feed-post-head-title {
  display: flex;
}

.feed-image-container {
  display: flex;
  width: 100%;
  height: 100%;
  overflow: hidden;
}

.feed-image {
  display: flex;
  width: 100%;
  height: 100%;
}

.feed-post-bar-container {
  display: flex;
  flex-direction: row;
  width: 90%;
}

.feed-post-like-container {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
}


.feed-bar-like-container {
  display: flex;
  flex-direction: row;
  text-decoration: none;
  color: white;
}

.feed-bar-icon {
  margin-left: 1%;
  margin-right: 1%;
  display: flex;
}

.feed-bar-number {
  display: flex;
  color: black;
  width: 40%;
  height: 80%;
}

.feed-bar-comment-container {
  display: flex;
  flex-direction: row;
}
